body, html { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
    overflow-y: hidden;
}
#map { 
    height: 100%; 
    width: 80%; 
    float: left; 
}
#sidebar { 
    height: 98%; 
    width: 20%; 
    float: right; 
    overflow-y: auto; 
}
.highlighted {
    background-color: #f0f0f0;
    border-left: 5px solid #2185d0;
    padding-left: 10px;
}